*::selection {
  background-color: var(--color-purple);
}

.main-index {
  display: grid;
  grid-template-columns: 45% 54%;
}


.header-main {
  display: flex;
  flex-direction: column;
  background-image: none;
  font-size: 3.5vmax;
  margin-left: 2vmax;
  height: 42vmax;
  justify-content: center;
  filter: drop-shadow(2px 2px 5px #0000004b);
}

.header-main i {
  transition: 0.5s;
}

.header-main i:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.header-main .p1 {
  margin-top: 9vh;
}

.header-main img {
  margin-left: 7vmax;
  max-width: 60%;
  min-width: 150px;
  height: auto;
  transition: 0.5s;
}

.header-main img:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.form-header {
  display: grid;
  margin-top: 5%;
  grid-template-columns: 50% 50%;
  grid-template-rows: 10vh 10vh 10vh 10vh 10vh;
  grid-template-areas: 
        "header header"
        "name lastname"
        "email born"
        "passwd passwdchk"
        "btn-eraser btn-submit"
        "google google";
}

.form-header input{
  background-color: rgb(211, 209, 209);
  border: 1px solid rgb(165, 163, 163);
  border-radius: 5px;
  text-align: center;
  transition: 0.5s;
}

.form-header input::placeholder {
  font-size: 1.2vmax;
  color: rgba(88, 88, 88, 0.5);
}

.form-header input:focus {
  background-color: var(--color-purple);
  transition: 0.5s;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  color: beige;
}

.form-header input:focus::placeholder {
  transition: 0.5s;
  color:  rgb(58, 2, 148);
}

.form-header .field-header{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1vmin;
  grid-area: header;
  text-align: center;
  filter: drop-shadow(2px 2px 5px #0000004b);
}

.form-header .field-header p{
  font-size: 3vmax;
}

.form-header .field-header p i{
  transition: 0.5s;
}

.form-header .field-header p i:hover{
  transform: scale(1.1);
  transition: 0.5s;
}

.form-header .field-name {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vmin;
  grid-area: name;
  font-size: 1.5vmax;
  text-align: center;
  width: 100%;
  transition: 0.5s;
  filter: drop-shadow(2px 2px 5px #0000004b);
}

.form-header .field-lastname {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vmin;
  grid-area: lastname;
  font-size: 1.5vmax;
  text-align: center;
  filter: drop-shadow(2px 2px 5px #0000004b);
}

.form-header .field-email {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vmin;
  grid-area: email;
  font-size: 1.5vmax;
  text-align: center;
  filter: drop-shadow(2px 2px 5px #0000004b);
}

.form-header .field-born {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vmin;
  grid-area: born;
  font-size: 1.3vmax;
  text-align: center;
  filter: drop-shadow(2px 2px 5px #0000004b);
}

.form-header .field-passwd {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vmin;
  grid-area: passwd;
  font-size: 1.5vmax;
  text-align: center;
  filter: drop-shadow(2px 2px 5px #0000004b);
}

.form-header .field-passwdchk {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vmin;
  grid-area: passwdchk;
  font-size: 1.3vmax;
  text-align: center;
  filter: drop-shadow(2px 2px 5px #0000004b);
}

.form-header .field-btn-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vmin;
  grid-area: btn-submit;
  font-size: 1.5vmax;
  text-align: center;
  filter: drop-shadow(2px 2px 5px #0000004b);
  text-decoration: none;
}

.form-header .field-btn-submit input {
  color: var(--color-white);
  padding: 0.2vmax;
  background-color: var(--color-purple);
  border: 3px solid rgb(65, 62, 62);
  border-radius: 20px;
  transition: 0.5s;
}

.form-header .field-btn-submit input:hover {
  color: rgb(65, 62, 62);
  background-color: transparent;
  transition: 0.5s;
  transform: scale(1.1);
}

.form-header .field-btn-eraser {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vmin;
  grid-area: btn-eraser;
  font-size: 1.5vmax;
  text-align: center;
  filter: drop-shadow(2px 2px 5px #0000004b);
}

.form-header .field-btn-eraser input {
  color: var(--color-white);
  padding: 0.2vmax;
  background-color: var(--color-purple);
  border: 3px solid rgb(65, 62, 62);
  border-radius: 20px;
  transition: 0.5s;
}

.form-header .field-btn-eraser input:hover {
  color: rgb(65, 62, 62);
  background-color: transparent;
  transition: 0.5s;
  transform: scale(1.1);
}

.form-header .field-google {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1vmin;
  grid-area: google;
  font-size: 6vmin;
  text-align: center;
  filter: drop-shadow(2px 2px 5px #0000004b);
}

.form-header .field-google legend {
  font-size: 2vmax;
  filter: drop-shadow(2px 2px 5px #0000004b);
}

.form-header .field-google i {
  margin-top: 1.5vmax;
  font-size: 3vmax;
  background-color: var(--color-purple);
  padding: 0.6vmax;
  width: 10vmax;
  border: 3px solid rgb(65, 62, 62);
  border-radius: 20px;
  transition: 0.5s;
}

.form-header .field-google i:hover {
  color: rgb(65, 62, 62);
  background-color: transparent;
  transition: 0.5s;
  transform: scale(1.1);
}

.form-header .field-google a {
  color: rgb(65, 62, 62);
  text-decoration: none;
  filter: drop-shadow(2px 2px 5px #0000004b);
}


@media (max-width:1160px){
  .main-index {
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 37% auto;
    grid-template-areas: "header"
                          "form";
    height: auto;
    margin-bottom: 20vmin;
  }

  .header-main {
    grid-area: header;
  }

  .div-main {
    grid-area: form;
  }

  .header-main {
    display: flex;
    flex-direction: column;
    background-image: none;
    font-size: 7vmax;
    margin-bottom: 3vmin;
    height: auto;
  }
  
  .header-main .p1 {
    margin-top: 10vmin;
  }
  
  .header-main img {
    align-items: center;
    margin: 0px auto;
    max-width: 100%;
    min-width: 400px;
    height: auto;
  }

  .form-header {
    display: grid;
    margin-top: 2%;
    grid-template-columns: 100%;
    grid-template-rows: 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh;
    grid-template-areas: 
          "header" 
          "google" 
          "google"
          "name" 
          "lastname"
          "email" 
          "born"
          "passwd" 
          "passwdchk"
          "btn-eraser" 
          "btn-submit";
    gap: 4vmin;
  }

  .form-header input::placeholder {
    font-size: 3vmin;
    color: rgba(88, 88, 88, 0.5);
  }
  
  .form-header .field-header{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: header;
    text-align: center;
  }
  
  .form-header .field-header p{
    font-size: 7vmin;
  }
  
  .form-header .field-name {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vmin;
    grid-area: name;
    font-size: 4vmin;
    text-align: center;
    width: 100%;
  }
  
  .form-header .field-lastname {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vmin;
    grid-area: lastname;
    font-size: 4vmin;
    text-align: center;
  }
  
  .form-header .field-email {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vmin;
    grid-area: email;
    font-size: 4vmin;
    text-align: center;
  }
  
  .form-header .field-born {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vmin;
    grid-area: born;
    font-size: 4vmin;
    text-align: center;
  }
  
  .form-header .field-passwd {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vmin;
    grid-area: passwd;
    font-size: 4vmin;
    text-align: center;
  }
  
  .form-header .field-passwdchk {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vmin;
    grid-area: passwdchk;
    font-size: 4vmin;
    text-align: center;
  }

  .form-header .field-btn-eraser {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vmin;
    grid-area: btn-eraser;
    font-size: 3vmin;
    text-align: center;
  }
  
  .form-header .field-btn-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vmin;
    grid-area: btn-submit;
    font-size: 3vmin;
    text-align: center;
  }
  
  .form-header .field-google {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vmin;
    grid-area: google;
    text-align: center;
  }
  
  .form-header .field-google legend {
    font-size: 5vmin;
  }
  
  .form-header .field-google i {
    margin-top: 1.5vmax;
    font-size: 6vmin;
    width: 20vmin;
  }
}

@media (max-width:450px) {
  .header-main img {
    margin-left: 7vmax;
    max-width: 60%;
    min-width: 150px;
  }

  .form-header .field-header{
    font-size: 2vmin;
  }
  
  .form-header .field-header p{
    font-size: 8vmin;
  }
  
  .form-header .field-name {
    font-size: 6vmin;
  }
  
  .form-header .field-lastname {
    font-size: 5.5vmin;
  }
  
  .form-header .field-email {
    font-size: 6vmin;

  }
  
  .form-header .field-born {
    font-size: 5.5vmin;
  }

  .form-header .field-passwd {
    font-size: 6vmin;
  }
  
  .form-header .field-passwdchk {
    font-size: 4.8vmin;
  }
  
  .form-header .field-btn-submit {
    font-size: 5.5vmin;
    margin-bottom: 4vmin;
  }

  .form-header .field-btn-eraser {
    font-size: 4.5vmin;
  }
  
  .form-header .field-google legend {
    font-size: 8vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 6vmin;
  }
  
  .form-header .field-google i {
    font-size: 10vmin;
  }
}

@media (max-height:2400px) and (max-width:1150px){

  .form-header {
    gap: 10vmin;
  }

  .form-header input {
    width: 60%;
    height: 100%;
  }


  .header-main img {
    margin-left: 7vmax;
    width: 60%;
    min-width: 150px;
  }

  .form-header .field-header{
    font-size: 2vmin;
    width: 100%;
  }

  .form-header input::placeholder {
    font-size: 5vmin;
  }
  
  .form-header .field-header p{
    font-size: 8vmin;
  }
  
  .form-header .field-name {
    font-size: 6vmin;
    display: flex;
    flex-direction: column;
  }
  
  .form-header .field-lastname {
    font-size: 5.5vmin;
    display: flex;
    flex-direction: column;
  }
  
  .form-header .field-email {
    font-size: 6vmin;
    display: flex;
    flex-direction: column;

  }
  
  .form-header .field-born {
    font-size: 5.5vmin;
    display: flex;
    flex-direction: column;
    height: 110%;
  }

  .form-header .field-passwd {
    font-size: 6vmin;
    display: flex;
    flex-direction: column;
  }
  
  .form-header .field-passwdchk {
    font-size: 4.8vmin;
    display: flex;
    flex-direction: column;
  }
  
  .form-header .field-btn-submit {
    font-size: 4.5vmin;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 30vmin;
  }

  .fa-square-check {
    order: 1;
  }

  .field-btn-submit {
    order: 2;
  }

  .form-header .field-btn-eraser {
    font-size: 4.5vmin;
    display: flex;
    flex-direction: column;
  }

  .fa-eraser {
    order: 1;
    font-size: 6vmin;
  }

  .btn-eraser {
    order: 2;
  }
  
  .form-header .field-google legend {
    font-size: 8vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8vmin;
  }
  
  .form-header .field-google i {
    font-size: 10vmin;
    width: 30vmin;
  }

}

@media (min-width:1100px) {
  .form-header .field-born {
    height: 160%;
  }
}
